@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 36 50% 3.92%;

    --primary: 32.08 48.33% 40.98%;
    --primary-foreground: 0 0% 100%;

    --card: 0 0% 100%;
    --card-foreground: 36 50% 3.92%;

    --popover: 0 0% 100%;
    --popover-foreground: 36 50% 3.92%;

    --secondary: 32 33.33% 91.18%;
    --secondary-foreground: 33 47.62% 8.24%;

    --muted: 30 33.33% 94.12%;
    --muted-foreground: 0 0% 40%;

    --accent: 30 33.33% 94.12%;
    --accent-foreground: 32.08 48.33% 40.98%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 0 0% 90.2%;
    --input: 0 0% 90.2%;
    --ring: 32.08 48.33% 40.98%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 33 47.62% 8.24%;
    --foreground: 32 33.33% 91.18%;

    --primary: 32.08 48.33% 40.98%;
    --primary-foreground: 0 0% 100%;

    --card: 33 47.62% 8.24%;
    --card-foreground: 32 33.33% 91.18%;

    --popover: 33 47.62% 8.24%;
    --popover-foreground: 32 33.33% 91.18%;

    --secondary: 32.57 47.95% 14.31%;
    --secondary-foreground: 0 0% 100%;

    --muted: 33.33 20.45% 17.25%;
    --muted-foreground: 36 4.27% 54.12%;

    --accent: 32.57 47.95% 14.31%;
    --accent-foreground: 32 33.33% 91.18%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 32.08 48.33% 40.98%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}
